# Byte-compiled / optimized / DLL files
__pycache__/
pages/__pycache__/
machine_learning/__pycache__/
libs/__pycache__/
*.py[cod]
*$py.class

# idea files
.idea

# image directory
images/
image_capture

.venv*